body {
  font-family: Times New Roman;
  font-size: 25px
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.OutFocus {
  background-color: yellow;
}

.OnFocus {
  background-color: aqua;
}

#color1 {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-left: 50%;
  margin-top: 20px;
}
