<h2>
  <a [class]="Is_Ok ? 'green' : 'red'" href="http://google.com" target="_blank">Google</a>
</h2>
<hr>
<button (click)="OnClick()">Button1</button>
<h2>{{Message}}</h2>
<hr>

<button (mouseenter)="MouseEnter()" (mouseleave)="MouseLeave()">Button2</button>
<h2>
  {{Mouse}}
</h2>

<br>
<hr>
<br>

<input [class]="ClassText" type="text" placeholder="Typing..." (focus)="OnFocus()" (blur)="Onblur()">

<br>
<hr>
<br>

<div>
  <input type="text" [(ngModel)]="TextName" placeholder="Typeing ...">
  <br>
  <ng-container *ngIf="TextName=='plus'; then Block1; else Block2"></ng-container>
  <ng-template #Block1>
    <input type="number" placeholder="number1">
    <span>+</span>
    <input type="number" placeholder="number2">
    <br>
    <button>=</button>
  </ng-template>
  <ng-template #Block2>
    <h2>please enter "plus" in textbox</h2>
  </ng-template>
  <h2>
    {{'in textbox typed : '+TextName}}
  </h2>
</div>

<br>
<hr>
<br>

<div>
  <input type="text" placeholder="Typeing ..." [(ngModel)]="TextDifferent" (input)="InputNumber()">
  <span [ngSwitch]="TextDifferent">
    <p *ngSwitchCase="'jam'">
      <input type="number" placeholder="number1" value="0" #v1>
      <span>+</span>
      <input type="number" placeholder="number2" value="0" #v2>
      <br>
      <button (click)="Mosavi(v1.value,v2.value,'+')">=</button>
    </p>
    <p *ngSwitchCase="'tafrigh'">
      <input type="number" placeholder="number1" value="0" #v1>
      <span>-</span>
      <input type="number" placeholder="number2" value="0" #v2>
      <br>
      <button (click)="Mosavi(v1.value,v2.value,'-')">=</button>
    </p>
    <p *ngSwitchCase="'zarb'">
      <input type="number" placeholder="number1" value="0" #v1>
      <span>*</span>
      <input type="number" placeholder="number2" value="0" #v2>
      <br>
      <button (click)="Mosavi(v1.value,v2.value,'*')">=</button>
    </p>
    <p *ngSwitchCase="'taghsim'">
      <input type="number" placeholder="number1" value="0" #v1>
      <span>/</span>
      <input type="number" placeholder="number2" value="0" #v2>
      <br>
      <button (click)="Mosavi(v1.value,v2.value,'/')">=</button>
    </p>
    <h2 *ngSwitchDefault>
      please enter "jam" or "tafrigh" or "zarb" or "taghsim" in textbox.
    </h2>

    <h1 *ngIf="ShowRes">
      Result is : {{Result}}
    </h1>
  </span>
  <h2>
    {{'in textbox typed : '+TextDifferent}}
  </h2>
</div>

<br>
<hr>
<br>

<div>
  <label for="input1">R</label>
  <input type="number" id="input1" value="0" min="0" max="255" [(ngModel)]="red" step="10">
  <br>
  <label for="input2">G</label>
  <input type="number" id="input2" value="0" min="0" max="255" [(ngModel)]="green" step="10">
  <br>
  <label for="input3">B</label>
  <input type="number" id="input3" value="0" min="0" max="255" [(ngModel)]="blue" step="10">
  <br> {{'Your color is : rgb('+red+','+green+','+blue+')'}}

  <div id="color1" [ngStyle]="{background:'rgb('+red+','+green+','+blue+')'}">

  </div>
</div>

<br>
<hr>
<br>

<div>
  <ul *ngFor="let Object of Objects; let i=index">
    <li>
      {{Object.Id+' And '+Object.Name+' And '+Object.Family+' '}}{{i+1}}
    </li>
  </ul>
  <li *ngFor="let Object of Objects; let i=index">
    {{Object.Id+' And '+Object.Name+' And '+Object.Family+' '}}{{i+1}}
  </li>
</div>
